RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond $1 !^(index\.php|images|robots\.txt|css|fonts|js|assets|tester|google896ddaf02d796607.html|info.php|generator|sitemap.xml|ror.xml)
RewriteRule  ^(.*)$ /index.php/$1 [L]